{src_dirs, ["src"]}.
{deps, [
  {mysql_client, {git, "git://git.code.sf.net/p/erlmysql/git", {branch, master}}},
  {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
]}.

{erl_opts, [
  report,
  warnings_as_errors,
  no_debug_info, 
  {parse_transform, lager_transform}
%%	,{d, 'TEST'}
]}.

{cover_enabled, false}.

{clean_files, ["doc/*"]}.

{edoc_opts, [
  {def, [{version, "1.1.0"}]},
  {private, false},
  {source_path, ["src"]},
  {title, "MQTT client/server for Erlang (common library)"}, 
  {overview, "src/overview.edoc"},
  {sort_functions, false}, 
  {stylesheet_file, "priv/my.css"},
  {preprocess, true},
  {includes, ["include"]}
]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true},
      {include_src, false}
    ]}
  ]},

  {test, [
    {eunit_compile_opts, [{src_dirs, ["src"]}]},
    {eunit_tests, [{dir, "test"}]},
    {eunit_opts, [verbose]},
    {deps, [
      {mysql_client, {git, "git://git.code.sf.net/p/erlmysql/git", {branch, master}}},
      {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
    ]}
	]}
]}.